on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Debug Information
        run: |
          echo "Current working directory: $(pwd)"
          ls -al


      - name: Install compatible urllib3 and chardet versions
        run: |
          pip install urllib3==1.26.7 chardet==4.0.0

      - name: Install Databricks CLI
        run: |
          pip install databricks-cli

      - name: Configure Databricks CLI
        run: |
          echo -e "${{ secrets.DATABRICKS_HOST }}\n${{ secrets.DATABRICKS_TOKEN }}" | databricks configure --token
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}

      - name: Debug Token and Host
        run: |
          echo "DATABRICKS_TOKEN=${{ secrets.DATABRICKS_TOKEN }}"
          echo "DATABRICKS_HOST=${{ secrets.DATABRICKS_HOST }}"

      - name: Verify Databricks CLI Configuration
        run: cat $HOME/.databrickscfg
      
      - name: Debug Working Directory
        run: |
          pwd

      - name: Debug Root Directory Contents
        run: ls -al
        
      - name: Upload Notebook to Databricks
        run: |     
          # Set variables for Databricks workspace and local notebook path
          DATABRICKS_ORG_NAME="dbc-ff4a8e7c-a0e4"
          DATABRICKS_REPO_ID="631067110314897"
          DATABRICKS_PATH="1489231999995469"
          LOCAL_NOTEBOOK_PATH="C:\\Users\\ShyamKumarR\\OneDrive - JMAN Group Ltd\\Desktop\\test_cicd_output\\ci_cd.py"
          
          # Replace 'local-file.txt' with the actual local file you want to upload
          LOCAL_FILE_PATH= "C:\Users\ShyamKumarR\test_cicd_output\cicd.py"
          PYTHON_SCRIPT_PATH= "C:\Users\ShyamKumarR\test_cicd_output\cicd.py"

          # Construct the API endpoint
          API_ENDPOINT=${DATABRICKS_HOST}/api/2.0/workspace/import

          # Upload the local file to Databricks using the REST API
          curl -X POST -H "Authorization: Bearer ${DATABRICKS_TOKEN}" -H "Content-Type: application/json" -d '{
            "content": "'"$(base64 -w 0 ${LOCAL_FILE_PATH})"'",
            "path": "'"${DATABRICKS_PATH}"'",
            "language": "PYTHON",
            "overwrite": true
          }' ${API_ENDPOINT}

          # Execute the Python script with the explicit Python executable
          python3 ${PYTHON_SCRIPT_PATH}
  
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
