name: Update Databricks Notebook and Push to GitHub

on:
  push:
    branches:
      - main

jobs:
  update_and_push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout main branch
      uses: actions/checkout@v2
      with:
        ref: main

    - name: Azure Login
      run: |
        az login --use-device-code
      env:
        AZURE_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: ">=0.14.0"
    
    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate
      
    - name: Terraform Plan
      run: terraform plan
  
    - name: Terraform Apply
      run: terraform apply -auto-approve
