name: Update Databricks Notebook and Push to GitHub

on:
  push:
    branches:
      - dev

jobs:
  update_and_push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout dev branch
      uses: actions/checkout@v2
      with:
        ref: dev

    # - name: Azure Login
    #   run: |
    #     az login --identity
    #     az account set --subscription 7a36f602-0997-4b47-8be2-c759d6067bfa
    #   env:
    #     AZURE_GITHUB_TOKEN: ${{ secrets.AZURE_GITHUB_TOKEN }}
    
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: ">=0.14.0"
    
    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate
      
    - name: Terraform Plan
      run: terraform plan
  
    - name: Terraform Apply
      run: terraform apply -auto-approve

    - name: Set up Git credentials  # Securely store and use a personal access token
      run: |
        git config --global user.email "shyamkumarr@jmangroup.com"
        git config --global user.name "shyam2180"
        echo "https://${GH_TOKEN}@github.com" >> ~/.git-credentials

    - name: Fetch latest changes
      run: git fetch --all

    - name: Pull remote changes from main branch
      run: git pull origin main

    - name: Pull dev branch changes
      run: git pull origin dev

    - name: Push changes to main branch
      run: git push origin dev:main
  
