name: Update Databricks Notebook and Push to GitHub

on:
  push:
    branches:
      - dev

jobs:
  update_and_push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout dev branch
      uses: actions/checkout@v2
      with:
        ref: dev

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: ">=0.14.0"
    
    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate
      
    - name: Terraform Plan
      run: terraform plan
  
    - name: Terraform Apply
      run: terraform apply -auto-approve

    - name: Check Terraform Apply Status
      run: |
        if [ $? -eq 0 ]; then
          echo "Terraform apply succeeded. Proceeding to the next steps."
        else
          echo "Terraform apply failed. Exiting the workflow."
          exit 1
        fi
      env:
        GH_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
    
    - name: Ensure main branch exists
      run: |
        git show-ref --verify --quiet "refs/heads/main" || git branch main
        
    - name: Configure Git identity
      run: |
        git config --global user.email "shyamkumarr@jmangroup.com"
        git config --global user.name "shyam2180"
        
    - name: Switch to the main branch
      run: |
        git checkout main
    
    - name: Fetch changes from main branch
      run: |
        git fetch origin main
    
    - name: Merge changes from main into dev
      run: |
        git checkout main
        git merge origin/main
    
    - name: Switch back to dev branch
      run: git checkout dev
    
    - name: Pull changes from dev branch
      run: git pull origin dev
    
    - name: Merge changes from dev into main
      run: |
        git checkout main
        git merge dev --allow-unrelated-histories
    
    - name: Push changes to GitHub
      run: git push origin main
