name: Update Databricks Notebook and Push to GitHub

on:
  push:
    branches:
      - main

jobs:
  update_and_push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout main branch
      uses: actions/checkout@v2
      with:
        ref: main
    # - name: Azure Login
    #   run: |
    #     az login --identity
    #     az account set --subscription 7a36f602-0997-4b47-8be2-c759d6067bfa
    #   env:
    #     AZURE_GITHUB_TOKEN: ${{ secrets.AZURE_GITHUB_TOKEN }}
    
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: ">=0.14.0"
    
    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate
      
    - name: Terraform Plan
      run: terraform plan
  
    - name: Terraform Apply
      run: terraform apply -auto-approve

    - name: Move main to dev if Terraform apply succeeds
      if: success()
      run: |
        # Rename the branch locally
        git branch -m main dev
    
        # Fetch remote changes
        git fetch --all
    
        # Push the local dev branch to GitHub (creating a new branch)
        git push origin dev
    
        # Use the GitHub token for authentication
        git push origin :main # Delete the old main branch
    
        # Set up tracking for the new dev branch
        git branch -u origin/dev dev
      env:
        GH_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
