name: Databricks CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install Databricks CLI
      run: |
        pip install databricks-cli

    - name: Import Notebooks to Databricks
      run: |
        databricks workspace import_dir . file:/C:/User/ShyamKumarR/Downloads/ci_cd.py

    # - name: Configure Databricks Secrets
    #   run: |
    #     databricks secrets create --scope <scope> --key <key> --string-value <value>

    - name: Run Databricks Notebook
      run: |
        databricks workspace run-notebook /file:/C:/User/ShyamKumarR/Downloads/ci_cd.py
